#header{
  background-color: lightblue;
}
#logo{
  max-width: 150px
}
#sx{
  float: left;
  margin-left: 20px;

}
#dx{

  float: left;
}
#container{
  background-color: lightblue;
}

#footer{
  background-color: lightblue;
  height: 40px;

}
